<tr>
  <td class="text-center">
    <b><%= subject.name %></b><br>
    <%= pluralize subject.tasks.count, t("views.task") %>
  </td>
  <td>
    <b><%= t "subjects.description" %></b> : <%= subject.description %>
    <hr>
    <% subject.tasks.each_with_index do |task, index| %>
      [<%= index + 1 %>]
      <span class="glyphicon glyphicon-tags text-info"></span>
      &nbsp;<%= task.name %>
      &nbsp; &nbsp; &nbsp; &nbsp;
    <% end %>
  </td>
  <td class="text-center">
    <%= link_to "", admin_subject_path(subject), method: :delete,
      data: {confirm: t("views.messages.del_confirm_msg")},
      class: "glyphicon glyphicon-remove" %>
  </td>
  <td class="text-center">
    <%= link_to "", edit_admin_subject_path(subject), class: "glyphicon glyphicon-edit" %>
  </td>
</tr>
