<br>
<div class="row text-success">
  <div class="col-md-9">
    <div class="col-md-5">
      <%= render "shared/search_form" %>
    </div>
    <table class="table">
      <tr>
        <th class="text-center col-md-2"><%= t "subjects.name" %></th>
        <th class="text-center"><%= t "views.messages.detail" %></th>
        <th class="text-center"><input type="checkbox" id="check-all"></th>
        <th class="text-center"><%= t "subjects.edit" %></th>
      </tr>
      <%= render @subjects %>
    </table>
    <%= will_paginate %>
  </div>
  <div class="col-md-3">
    <a class="btn btn-success text-white" href="<%= new_admin_subject_path %>">
      <span class="glyphicon glyphicon-plus"></span>
      <%= t "views.actions.create_more" %>
    </a>
  </div>
</div>
