<table class="table">
  <tr>
    <td class="col-md-3">
      <%= link_to image_tag("rails.png", size: Settings.views.user.size_image) %>
    </td>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <td class="pull-right text-info">
      <b><%= t "users.email" %> : </b>
    </td>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <td class="pull-right text-info">
      <b><%= t "users.join_date" %> : </b>
    </td>
    <td><%= @user.created_at.strftime Settings.date_format %></td>
  </tr>
  <tr>
    <td class="pull-right text-info">
      <b><%= t("users.courses_participate") %> : </b>
    </td>
    <div class="col-md-4 col-md-offset-2">
      <% @user.courses.each do |course| %>
        <td><%= link_to course.name, course_path(course) %></td>
      <% end %>
    </div>
  </tr>
</table>
<div class="row col-md-4">
  <% @user.user_subjects.each do |user_subject| %>
    <div id="subject-<%= user_subject.id %>">
      <h2><%= user_subject.subject.name %></h2>
      <%= t("views.messages.start_date") %> <%= user_subject.created_at.strftime(Settings.date_format) %>-
      <%= user_subject.updated_at.strftime(Settings.date_format) %>
      <br>
      <button onclick="hide_btn()"><%= t "button.hide" %></button>
      <button onclick="show_btn()"><%= t "button.show" %></button>
      <% user_subject.user_tasks.each do |user_task| %>
        <div>
          <table class="table">
            <tr>
              <br>
              <td class="col-md-4"><%= user_task.task.name %></td>
              <% if user_task.finished? %>
                <td class="col-md-4"><%= link_to t("users.finished"), "",
                  class: "btn btn-primary status-button" %></td>
              <% else %>
                <td class="col-md-4"><%= link_to t("users.training"), "",
                  class: "btn btn-danger status-button" %></td>
              <% end %>
            </tr>
          </table>
        </div>
      <%end%>
    </div>
  <% end %>
</div>
