 <% provide :title, t("views.pages.users") %>

<div class="row">
  <aside class="col-md-8">
    <h1><%= t "views.pages.users" %></h1>
    <table class="table table-bordered table-hover">
      <tr>
        <th><%= t "users.id" %></th>
        <th><%= t "users.name" %></th>
        <th><%= t "users.email" %></th>
        <th><%= t "users.created" %></th>
        <th><%= t "users.updated" %></th>
        <th><%= t "views.actions.delete" %></th>
        <th><%= t "views.actions.set_admin" %></th>
      </tr>
      <% @users.each do |user| %>
        <tr data-link="<%= admin_users_path(user) %>">
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.created_at.strftime(Settings.date_format) %></td>
          <td><%= user.updated_at.strftime(Settings.date_format) %></td>
          <td>
            <%= link_to t("views.actions.delete"), admin_user_path(user),
              method: :delete, data: {confirm: t("views.messages.confirm")},
              class: "btn btn-primary" %>
          </td>
          <td><%= render "form_edit", user: user unless user.admin? %></td>
        </tr>
      <% end %>
    </table>
    <%= will_paginate %>
  </aside>
  <aside class="col-md-4">
    <br>
    <%= link_to t("views.messeager.create_new_user"), new_admin_user_path,
      class: "btn btn-primary" %>
    <%= render "shared/search_form" %>
  </aside>
</div>
