<%= form_for [:admin, course] do |f| %>
  <%= render "shared/error_messages", object: course %>
  <div class="field">
    <%= f.label :name, class: "text-info" %><br>
    <%= f.text_field :name, autofocus: true, class: "form-control",
      placeholder: t("courses.name_placeholder") %>
  </div>
  <div class="field">
    <%= f.label :description, class: "text-info" %>
    <%= f.text_area :description, class: "form-control",
      placeholder: t("courses.description_placeholder") %>
  </div>
  <h2><%= t "views.messages.add_subject_to_course" %></h2>
  <div class="col-md-8 pull-right">
    <%= f.select :subject_ids,
      options_for_select(@subjects.map{|subject| [subject.name, subject.id]},
      selected_key = f.object.subject_ids), {}, {multiple: true, class: "form-control",
      size: Settings.option_lines} %>
  </div>
  <div class="actions">
    <%= f.submit t("views.actions.done"), class: "btn btn-success btn-block" %>
  </div>
<% end %>
