<% provide :title, @course.name %>
<div class="container">
  <h1 class="text-center text-success">
    <b><%= t("views.course").capitalize %> : </b><%= @course.name %>
  </h1>
  <h2 class="text-center">
    <span class="label label-<%= @course.closed ? 'danger' : 'success' %>">
      <%= t @course.closed ? "views.messages.closed" : "views.messages.opening" %>
    </span>
  </h2>
  <table class="table">
    <tr>
      <td class="size18px text-info col-md-2">
        <b class="pull-right"><%= t "courses.description" %> :</b>
      </td>
      <td>
        <%= @course.description %>
      </td>
    </tr>
    <tr>
      <td class="size18px text-info col-md-2">
        <b class="pull-right">
          <%= pluralize @course.subjects.count, t("courses.supervisor") %>:</b>
      </td>
      <td>
        <% @course.supervisors.each do |supervisor| %>
          <span class="glyphicon glyphicon-user text-info"></span>&nbsp;
          <%= link_to supervisor.name, "#" %>
          &nbsp; &nbsp; &nbsp; &nbsp;
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="size18px text-info col-md-2">
        <b class="pull-right">
          <%= pluralize @course.users.count, t("trainee").capitalize %>:</b>
      </td>
      <td>
        <% @course.users.each do |user| %>
          <span class="glyphicon glyphicon-user text-info"></span>&nbsp;
          <%= link_to user.name, "#" %>
          &nbsp; &nbsp; &nbsp; &nbsp;
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="size18px text-info col-md-2">
        <b class="pull-right"><%= t "view.subject" %> :</b>
      </td>
      <td>
        <% @course.subjects.each do |subject| %>
          <span class="glyphicon glyphicon-file text-info"></span>&nbsp;
          <%= link_to subject.name, "#" %>
          &nbsp; &nbsp; &nbsp; &nbsp;
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="size18px text-info col-md-2">
        <b class="pull-right"><%= t "course.start_date" %> :</b>
      </td>
      <td>
        <%= @course.created_at.strftime(Settings.date_format) %>
      </td>
    </tr>
    <tr>
      <td class="size18px text-info col-md-2">
        <b class="pull-right"><%= t "course.time_duration" %> :</b>
      </td>
      <td>
        <%= pluralize @course.date_duration, t("views.unit.day") %>
      </td>
    </tr>
  </table>
</div>
