<header class="header-fixed header-login-signup">
  <div class="header-limiter">
    <h1>
      <a>
        <%= image_tag Settings.views.logo.url, size: Settings.views.logo.size_image %>
      </a>
    </h1>
    <nav>
      <a><%= link_to t("views.pages.home"), root_path %></a>
      <a><%= link_to t("views.pages.help"), help_path %></a>
    </nav>
    <nav class="pull-right">
      <% if user_signed_in? %>
        <%= link_to current_user.name, user_path(current_user) %>
        <%= link_to t("views.layouts.logout"), destroy_user_session_path,
          method: "delete" %>
      <% else %>
        <%= link_to t("views.layouts.signin"), new_user_session_path %>
        <%= link_to t("views.layouts.signup"), "#" %>
      <% end %>
    </nav>
  </div>
</header>
